{% extends "base.html" %}
{% block title %}Page 2{% endblock %}
{% block content %}
<h1>Enter your symptoms</h1>
<form action = "#" method="POST">
    <p>Please select up to six symptoms</p>
    <p>Symptom 1 - 
        <select name="s1a">
        <option value="_">Select your symptoms from the list</option>
        <option value="0_Excessive Thirst">Excessive Thirst</option>
        <option value="1_Frequent Urination">Frequent Urination</option>
        <option value="2_Fatigue">Fatigue</option>
        <option value="3_Tingling Hands">Tingling Hands</option>
        <option value="4_Tingling Feet">Tingling Feet</option>
        <option value="5_Headache">Headache</option>
        <option value="6_Chest Pain">Chest Pain</option>
        <option value="7_Difficulty Breathing">Difficulty Breathing</option>
        <option value="8_Irregular Heartbeat">Irregular Heartbeat</option>
        <option value="9_Pounding Chest">Pounding Chest</option>
        <option value="10_Pounding Neck">Pounding Neck</option>
        <option value="11_Pounding Ears">Pounding Ears</option>
        <option value="12_Missed Period">Missed Period</option>
        <option value="13_Diarrheau">Diarrheau</option> 

      
    </select> </p>

    <p>Symptom 2 - 
    <select name="s2a">
    <option value="_">Select your symptoms from the list</option>
    <option value="0_Excessive Thirst">Excessive Thirst</option>
    <option value="1_Frequent Urination">Frequent Urination</option>
    <option value="2_Fatigue">Fatigue</option>
    <option value="3_Tingling Hands">Tingling Hands</option>
    <option value="4_Tingling Feet">Tingling Feet</option>
    <option value="5_Headache">Headache</option>
    <option value="6_Chest Pain">Chest Pain</option>
    <option value="7_Difficulty Breathing">Difficulty Breathing</option>
    <option value="8_Irregular Heartbeat">Irregular Heartbeat</option>
    <option value="9_Pounding Chest">Pounding Chest</option>
    <option value="10_Pounding Neck">Pounding Neck</option>
    <option value="11_Pounding Ears">Pounding Ears</option>
    <option value="12_Missed Period">Missed Period</option>
    <option value="13_Diarrheau">Diarrheau</option>

  
</select> </p><p>Symptom 3 - 
    <select name="s3a">
    <option value="_">Select your symptoms from the list</option>
    <option value="0_Excessive Thirst">Excessive Thirst</option>
    <option value="1_Frequent Urination">Frequent Urination</option>
    <option value="2_Fatigue">Fatigue</option>
    <option value="3_Tingling Hands">Tingling Hands</option>
    <option value="4_Tingling Feet">Tingling Feet</option>
    <option value="5_Headache">Headache</option>
    <option value="6_Chest Pain">Chest Pain</option>
    <option value="7_Difficulty Breathing">Difficulty Breathing</option>
    <option value="8_Irregular Heartbeat">Irregular Heartbeat</option>
    <option value="9_Pounding Chest">Pounding Chest</option>
    <option value="10_Pounding Neck">Pounding Neck</option>
    <option value="11_Pounding Ears">Pounding Ears</option>
    <option value="12_Missed Period">Missed Period</option>
    <option value="13_Diarrheau">Diarrheau</option>

  
</select> </p>

<p>Symptom 4 - 
    <select name="s4a">
    <option value="_">Select a symptom or leave empty</option>
    <option value="0_Excessive Thirst">Excessive Thirst</option>
    <option value="1_Frequent Urination">Frequent Urination</option>
    <option value="2_Fatigue">Fatigue</option>
    <option value="3_Tingling Hands">Tingling Hands</option>
    <option value="4_Tingling Feet">Tingling Feet</option>
    <option value="5_Headache">Headache</option>
    <option value="6_Chest Pain">Chest Pain</option>
    <option value="7_Difficulty Breathing">Difficulty Breathing</option>
    <option value="8_Irregular Heartbeat">Irregular Heartbeat</option>
    <option value="9_Pounding Chest">Pounding Chest</option>
    <option value="10_Pounding Neck">Pounding Neck</option>
    <option value="11_Pounding Ears">Pounding Ears</option>
    <option value="12_Missed Period">Missed Period</option>
    <option value="13_Diarrheau">Diarrheau</option>

  
</select> </p>
<p>Symptom 5 - 
    <select name="s5a">
        <option value="_">Select a symptom or leave empty</option>
        <option value="0_Excessive Thirst">Excessive Thirst</option>
        <option value="1_Frequent Urination">Frequent Urination</option>
        <option value="2_Fatigue">Fatigue</option>
        <option value="3_Tingling Hands">Tingling Hands</option>
        <option value="4_Tingling Feet">Tingling Feet</option>
        <option value="5_Headache">Headache</option>
        <option value="6_Chest Pain">Chest Pain</option>
        <option value="7_Difficulty Breathing">Difficulty Breathing</option>
        <option value="8_Irregular Heartbeat">Irregular Heartbeat</option>
        <option value="9_Pounding Chest">Pounding Chest</option>
        <option value="10_Pounding Neck">Pounding Neck</option>
        <option value="11_Pounding Ears">Pounding Ears</option>
        <option value="12_Missed Period">Missed Period</option>
        <option value="13_Diarrheau">Diarrheau</option>

  
</select> </p>
<p>Symptom 6 - 
    <select name="s6a">
    <option value="_">Select a symptom or leave empty</option>
    <option value="0_Excessive Thirst">Excessive Thirst</option>
    <option value="1_Frequent Urination">Frequent Urination</option>
    <option value="2_Fatigue">Fatigue</option>
    <option value="3_Tingling Hands">Tingling Hands</option>
    <option value="4_Tingling Feet">Tingling Feet</option>
    <option value="5_Headache">Headache</option>
    <option value="6_Chest Pain">Chest Pain</option>
    <option value="7_Difficulty Breathing">Difficulty Breathing</option>
    <option value="8_Irregular Heartbeat">Irregular Heartbeat</option>
    <option value="9_Pounding Chest">Pounding Chest</option>
    <option value="10_Pounding Neck">Pounding Neck</option>
    <option value="11_Pounding Ears">Pounding Ears</option>
    <option value="12_Missed Period">Missed Period</option>
    <option value="13_Diarrheau">Diarrheau</option>

      
</select> </p>



    
    <input type="submit" value="Submit"/>

    

</form>
{% endblock %}